@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}

body {
    display: grid;
    place-items: center;
    width: 100vw;
    min-height: 100vh;
}

form {
    width: 50%;
    display: grid;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: #ba42ff;
}

.container {
    
    background-color: #cb70ff;
    margin-bottom: 1rem;
    border-radius: 10px;
    padding: 5px;
}

.h1 {
    color: #fff;
}

.position {
    
    display: flex;
    justify-content: right;
    padding: 10px;
}

input[type=submit] {
    width: 40px;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: #cb70ff;
    font-weight: bold;
}


.input-radio {
    position: relative;
    appearance: none;
    width: 1rem;
    aspect-ratio: 1;
    border: 2px solid #fff;
    border-radius: 50%;
  }
  
  .input-radio:checked{
    border-color: #ba42ff;
  }
  
  .input-radio:checked::after{
    content: '';
    position: absolute;
    width: 50%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #ba42ff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container label {
    color: #fff;
  }